In [3]:
import pandas as pd

In [4]:
df = pd.read_csv('job-data.csv')

In [5]:
# Define salary ranges for each category
salary_ranges = [(0, 30000), (30001, 50000), (50001, 70000), (70001, 90000), (90001, float('inf'))]
categories = ['Low', 'Medium-Low', 'Medium', 'Medium-High', 'High']

# Create a new categorical column based on the salary ranges
def categorize_salary(salary):
    for i, (lower, upper) in enumerate(salary_ranges):
        if lower <= salary <= upper:
            return categories[i]

df['Salary_Category'] = df['Salary'].apply(categorize_salary)

df.tail(3)

# salary_ranges = [(0, 20000), (20001, 40000), (40001, 60000), (60001, 80000), (80001, 100000), (100001, float('inf'))]
# categories = ['Very Low', 'Low', 'Medium-Low', 'Medium-High', 'High', 'Very High']

# # Create a new categorical column based on the salary ranges
# def categorize_salary(salary):
#     for i, (lower, upper) in enumerate(salary_ranges):
#         if lower <= salary <= upper:
#             return categories[i]

# df['Salary_Category'] = df['Salary'].apply(categorize_salary)

# df.tail(3)

,joining_date,job_title,required_experience,Overall_Satisfication,Working_model,Considering_Job_Switching_in_Future,Main_Reasons,Salary,Salary_Category
246,02/01/2022,Software Developer (Frontend),More than 3 years,Satisfied,On Site,Yes,Better salary/benefits,26000,Low
247,01/02/2023,Full Stack Developer,Less than 2 years,Satisfied,Remote,Yes,Better salary/benefits,75000,Medium-High
248,01/02/2022,Full Stack Developer,More than 5 years,Satisfied,Remote,Yes,Better salary/benefits,110000,High

In [6]:
# X = df.drop(columns=["joining_date", "Salary", "Salary_Category"])
X = df.drop(columns=["joining_date", "Overall_Satisfication", "Salary", "Salary_Category", ])
X

,job_title,required_experience,Working_model,Considering_Job_Switching_in_Future,Main_Reasons
0,Junior Software Developer (Backend),Fresh graduate,On Site,No,I am happy with my work role
1,Data Scientist,More than 2 years,Remote,Yes,Better salary/benefits
2,Data Scientist,More than 2 years,On Site,Yes,"Career Development, Salary andBenefits"
3,Senior Software Engineer (Backend),More than 2 years,On Site,No,I am happy with my work role
4,Software Developer (Backend),More than 2 years,On Site,Yes,Seeking better work-life balance
...,...,...,...,...,...
244,Software Quality Assurance Engineer,Fresh graduate,On Site,Yes,"Career Development, Salary and Benefits"
245,Software Developer (Backend),More than 3 years,On Site,No,I am happy with my work role
246,Software Developer (Frontend),More than 3 years,On Site,Yes,Better salary/benefits
247,Full Stack Developer,Less than 2 years,Remote,Yes,Better salary/benefits
248,Full Stack Developer,More than 5 years,Remote,Yes,Better salary/benefits

In [7]:
y = df['Salary_Category']
# y = df['Salary']

In [8]:
from sklearn.preprocessing import LabelEncoder
le_x = LabelEncoder()
X = X.apply(le_x.fit_transform)
X.head(10)

,job_title,required_experience,Working_model,Considering_Job_Switching_in_Future,Main_Reasons
0,14,0,1,1,4
1,3,2,2,2,0
2,3,2,1,2,2
3,20,2,1,1,4
4,23,2,1,2,6
5,10,2,0,2,0
6,13,1,1,2,2
7,23,2,1,2,0
8,24,1,1,2,6
9,24,2,1,2,0

In [9]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=.2, random_state=42)

In [10]:
from sklearn.naive_bayes import MultinomialNB
my_model = MultinomialNB()
my_model.fit(X_train, y_train)

MultinomialNB()

In [11]:
my_model.score(X_test, y_test)

0.52