In [1]:
import pandas as pd

In [3]:
df = pd.read_csv('feature-scaling.csv')
df.head(4)

   Country  Age  Salary Purchased
0   France   44   72000        No
1    Spain   27   48000       Yes
2  Germany   30   54000        No
3    Spain   38   61000        No

In [5]:
X = df[['Age', 'Salary']]

In [6]:
X

   Age  Salary
0   44   72000
1   27   48000
2   30   54000
3   38   61000
4   40   70000
5   35   58000
6   31   52000
7   48   79000
8   50   83000
9   37   67000

In [7]:
from sklearn.preprocessing import MinMaxScaler
mms = MinMaxScaler()
X_after_min_max_scaling = mms.fit_transform(X)
X_after_min_max_scaling

array([[0.73913043, 0.68571429],
       [0.        , 0.        ],
       [0.13043478, 0.17142857],
       [0.47826087, 0.37142857],
       [0.56521739, 0.62857143],
       [0.34782609, 0.28571429],
       [0.17391304, 0.11428571],
       [0.91304348, 0.88571429],
       [1.        , 1.        ],
       [0.43478261, 0.54285714]])