In [2]:
import pandas as pd
import numpy as np

In [6]:
dates = pd.date_range('1/1/2022', periods=500)
dates

DatetimeIndex(['2022-01-01', '2022-01-02', '2022-01-03', '2022-01-04',
               '2022-01-05', '2022-01-06', '2022-01-07', '2022-01-08',
               '2022-01-09', '2022-01-10',
               ...
               '2023-05-06', '2023-05-07', '2023-05-08', '2023-05-09',
               '2023-05-10', '2023-05-11', '2023-05-12', '2023-05-13',
               '2023-05-14', '2023-05-15'],
              dtype='datetime64[ns]', length=500, freq='D')

In [7]:
data1 = np.random.randn(500, 3)
data1

array([[ 0.2693964 ,  1.10751564,  0.32352029],
       [-0.15771388,  0.77024844, -0.70144395],
       [ 0.97423813,  0.63290574,  0.55282561],
       ...,
       [-0.84241499, -0.50222777,  2.00581854],
       [ 0.24387541, -1.01196492,  0.63582376],
       [-1.07288046, -0.41375597,  0.64666929]])

In [8]:
df1 = pd.DataFrame(data = data1, index= dates, columns=['A', 'B', 'C'])
df1

                   A         B         C
2022-01-01  0.269396  1.107516  0.323520
2022-01-02 -0.157714  0.770248 -0.701444
2022-01-03  0.974238  0.632906  0.552826
2022-01-04 -1.403210  0.074328  0.686835
2022-01-05 -1.087482 -3.052021  2.367011
...              ...       ...       ...
2023-05-11 -0.784406 -1.048016  0.650941
2023-05-12 -0.764480  1.280855  0.319438
2023-05-13 -0.842415 -0.502228  2.005819
2023-05-14  0.243875 -1.011965  0.635824
2023-05-15 -1.072880 -0.413756  0.646669

[500 rows x 3 columns]