In [1]:
import pandas as pd

In [3]:
df = pd.read_csv('data/climate_data.csv')
df

        day  temperature  windspeed   event
0  1/1/2023           27          3  Cloudy
1  1/2/2023           31          6   Rainy
2  1/3/2023           34          9   Sunny

In [4]:
type(df)

pandas.core.frame.DataFrame

In [6]:
df = pd.read_excel('data/climate_data.xlsx', 'Sheet1')
df

         day  temperature  windspeed   event
0 2023-01-01           27          3  Cloudy
1 2023-01-02           31          6   Rainy
2 2023-01-03           34          9   Sunny

In [10]:
climet_data = {
    'day' : ['2023-01-01', '2023-01-02', '2023-01-03'],
    'temperature' : [27, 31, 34], 
    'windspeed' : [3, 6, 9],
    'event' : ['Cloudy', 'Rainy', 'Sunny']
}
df = pd.DataFrame(climet_data)
df

          day  temperature  windspeed   event
0  2023-01-01           27          3  Cloudy
1  2023-01-02           31          6   Rainy
2  2023-01-03           34          9   Sunny

In [14]:
climet_data = [
    ('2023-01-01', 27, 3, 'Cloudy'),
    ('2023-01-02', 31, 6, 'Rainy'),
    ('2023-01-03', 34, 9, 'Sunny'),
]

df = pd.DataFrame(data= climet_data, columns=['day', 'temperature', 'windspeed', 'event'])
df

          day  temperature  windspeed   event
0  2023-01-01           27          3  Cloudy
1  2023-01-02           31          6   Rainy
2  2023-01-03           34          9   Sunny